<div class="container-fluid" style="background-image: url(../img/bookbackground.png);height:91vh;">
    <div class="row">
        <div class="mx-auto" >
            <div class="titre_br">
               <div class="banner-text">
                <span class="msg1 h3">Trouver votre prochain livre préféré</span>
                <p>drame , comedie , triller et plein d’autre genre </p>
               </div>
            </div>
        
        </div>
    </div> 
  </div>